html, body {
  width: 100%;
  background: #efffb3;
}
body {
  padding: 75px 300px;
}
h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #EE54CC;
  font-size: 75px;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-8deg);
  // text-shadow: 3px 3px 0px #1C6EA4;
  line-height: 1;
  margin-bottom: 70px;
}
h3 {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}
p {
  font-family: 'Courier New', Courier, monospace;
  font-family: 'Eczar', serif;
}